{
    "logging": {
        "level": "debug",
    },
    "core": {
        "root_path": "#PATH#/test/projects", // for tests
        "endpoint": "tcp://*:1789", // that is actually the default
    },
    "projects": [
        {
            "name": "test",
            "actions": [
                {
                    "scm": {
                        "type": "git", // will checkout from repository
                        "upstream_url": "file://#PATH#/.git",
                        "branch": "${branch}",
                        "ref": "${ref}",
                    },
                    "runner": {
                        "arch": "foo",
                    },
                    "run": {
                        "type": "spawn",
                        "command": "make clean; build/build.sh main",
                        "artifacts": "target/dpkg/*.deb target/dpkg/*.dsc target/dpkg/*.tar.gz target/dpkg/*.changes",
                    },
                },
                {
                    "scm": {
                        "type": "debian", // will reuse debian artifacts
                    },
                    "runner": {
                        "arch": "bar",
                    },
                    "run": {
                        "type": "spawn",
                        "command": "make clean; build/build.sh main",
                        "artifacts": "target/dpkg/*.deb target/dpkg/*.dsc target/dpkg/*.tar.gz target/dpkg/*.changes",
                    },
                },
            ],
            "cron": "* * * * *",
        },
    ],
}
