{
    "logging": {
        "level": "debug",
    },
    "core": {
        "root_path": "#PATH#/test/projects",
        "port": 9733,
    },
    "projects": [
        {
            "name": "test",
            "runner": {
                "arch": "foo",
            },
            "scm": {
                "type": "git",
                "upstream_url": "file://#PATH#/.git",
            },
            "cron": "* * * * *",
        },
    ],
    "runners": [
        {
            "name": "test1",
            "arch": "foo",
            "host": "localhost",
            "port": 9572,
        }
    ],
}
